<p id="notice"><%= notice %></p>

<h1>Listing Pros</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pros.each do |pro| %>
      <tr>
        <td><%= pro.name %></td>
        <% if can? :manage, @pro %>
        <td><%= link_to 'Show', pro %></td>
        <td><%= link_to 'Edit', edit_pro_path(pro) %></td>
        <% if can? :destroy, @pro %>
        <td><%= link_to 'Destroy', pro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= paginate @pros %></p>
<br>
<% if can? :create, @pro %>
<%= link_to 'New Pro', new_pro_path %>
<% end %>
